services:
  app:
    build: .
    container_name: lotte_ai_app
    restart: always
    ports:
      - "8501:8501"
    environment:
      - STREAMLIT_SERVER_PORT=8501
      - STREAMLIT_SERVER_ADDRESS=0.0.0.0
      - STREAMLIT_SERVER_HEADLESS=true
      - STREAMLIT_BROWSER_GATHER_USAGE_STATS=false
    dns:
      - 8.8.8.8
      - 8.8.4.4
